<!-- Banner -->
<a name="home"></a>
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">
        <!--<header>-->
            <div class="row">
                <div class="2u">
                    <img src="images/nsf-logo.png" width="100"/>
                </div>
                <div class="10u">
                    <h2 style="font-weight: bold; margin: 0">2020 NSF CSSI PI Meeting</h2>
                    <p><strong>Towards a National Cyberinfrastructure Ecosystem</strong></p>
                    <p style="font-size: 16px; line-height: 1.4em">Seattle, WA <br/>
                        February 13-14, 2020</p>
                </div>
            </div>
        <!--</header>-->
    </div>

</section>
