<header id="header">
    <div id="logo-div">
        <img src="images/nsf-logo.png" width="32"/>
        <h1 id="logo"><a href="/2018-meeting/#home">2018 NSF SI<sup>2</sup> PI Meeting</a></h1>
    </div>
    <nav id="nav">
        <ul>
            <li><a href="/2018-meeting/#home">Home</a></li>
            <li><a href="/2018-meeting/#agenda">Agenda</a></li>
            <li><a href="/2018-meeting/attendees.html">Attendees</a></li>
            <li><a href="/2018-meeting/#poster">Posters</a></li>
            <li><a href="/2018-meeting/#talks">Lightning talks</a></li>
            <li><a href="/2018-meeting/#organizers">Organizers</a></li>
            <!--<li><a href="/2018-meeting/#past-meetings">Past Meetings</a></li>-->
            <!--<li><a href="/2018-meeting/#code-conduct">Code of Conduct</a></li>-->
        </ul>
    </nav>
</header>
